#header {}

#content {}

#searchparams {}

#daForm {}
#active {}
#typeselect {}
#customfields {}
#search {}

#banners {}
#bannerrecords {
  width: 800px;
}

#footer {}

.formTable {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.formTable .firstTd {
  width: 10%;
}

.formTable .secondTd {
  width: 100%;
}
